{erl_opts, [
    debug_info,
    {i, "include"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/namespace/your_app">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.

{deps, []}.

{eunit_opts, [verbose]}.

{ct_opts, [{dir, "ct/testcases"}]}.

{cover_enabled, true}.

{plugins, [rebar3_hex]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info, {i, "include"}]}
    ]}
]}.
